<section class="component-mapa">
    <div class="page-container">
  
      <H2 class="section__title"> Lorem Ipsum </H2> 
  
      <div class="section__filters">
        <div class="filters__leftside">
          <div class="form__grupo"> 
            <label class="form__label" for=""> Localidad </label>
            <select name="cars" id="cars" class="form__select">
              <option value="opction">opcion select 1</option>
              <option value="opcion2">opcion select 2</option>
              <option value="opcopm3">opcion select 3</option>
              <option value="opcion4">opcion select 4</option>
            </select>
          </div>
          <button type="submit" class="btn-small btn-primary-outline"> Filtrar </button>
        </div>
  
        <div class="filters__rightside"> 
          <div class="form__check form__check-inline">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Checkbox 1 </label>
            <span class="material-icons-outlined"> home </span>
          </div>
          <div class="form__check form__check-inline">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Checkbox 2 </label>
            <span class="material-icons-outlined"> business </span>
          </div>
        </div>
  
      </div>
  
      <div class="section__iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104812.92323859932!2d-56.30647827427981!3d-34.82093730520977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80ffc63bf7d3%3A0x6b321b2e355bec99!2sMontevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses-419!2suy!4v1654086661748!5m2!1ses-419!2suy"> </iframe>  
      </div>
  
    </div>
  </section>