<header class="menu-generic-full menu-bg-light"> 
    <input type="checkbox" name="nav-toggler" class="nav-toggler" id="nav-toggler">
    <label for="nav-toggler" class="label-mobile-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <div class="nav-top">
      <div class="page-container">
        <div class="nav-top-content">
   
          <div class="nav-top-content__accesibilidad">
            <a href="/" class="accesibilidad__link"> <span class="acces-less material-icons-outlined"> remove_circle_outline </span> </a>
            <span class="accesibilidad__icon"> <span class="material-icons-outlined"> text_format </span> </span>
            <a href="/" class="accesibilidad__link"> <span class="acces-more material-icons-outlined"> add_circle_outline </span> </a>
          </div>
          <nav class="nav-top-content__links">
            <a href="/" class="nav-top__link"> Lorem ipsum </a>
            <a href="/" class="nav-top__link"> Lorem ipsum </a>
          </nav>
  
        </div>
      </div>
    </div>

    <nav class="nav-principal" aria-label="navegación principal">
      <div class="page-container">
        <div class="nav-principal-content">

          <div class="nav-logo">
            <a href="/" title="logo marca" class="nav-logo__link">
              <img src="img/logo-isa.svg" alt="Logo description" class="img-logo">
            </a>
          </div>
    
          <ul class="nav-menu">
            <li class="nav-menu__item">
              <a href="#" class="nav-menu__link"> label </a>
            </li>
            <li class="nav-menu__item">
              <a href="#" class="nav-menu__link"> label </a>
            </li>
            <li class="nav-menu__item">
              <a href="#" class="nav-menu__link"> label </a>
            </li>
            <li class="nav-menu__item">
              <a href="#" class="nav-menu__link"> label </a>
            </li>
            <li class="nav-menu__item">
              <a href="#" class="nav-menu__link"> label </a>
            </li>
            <li class="nav-menu__item">
              <a href="#" class="nav-menu__link"> label </a>
            </li>
          </ul>
    
          <div class="nav-right">
            <form class="nav-buscador">
              <input type="search" id="buscador-input" class="form__input" placeholder="Buscar...">
            </form>
            <a href="#" class="btn-medium btn-primary"> INGRESAR </a>
          </div>

        </div>
      </div>
    </nav>

</header>
{{ page.header }}
